# Copy this file to /etc/systemd/system/senseekan.service
# This automatically runs `docker-compose up -d` each time the RPi boots
# We cannot rely on the containers restart policy because not all required
# system services are available right away

# NOTE: Don't forget to update the paths below to match your system!
# After copying to the directory above run `sudo sytemctl enable senseekan`

[Unit]
Description=Senseekan Application Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/pi/senseekan
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
